{% extends 'persons/base-persons.html' %}

{# Load the tag library #}
{% load bootstrap4 %}
{% load project_tags %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}

<style>
/* styling of the tabs*/
#exTab1 .tab-content {
  color : black;
  padding : 5px 15px;
}

#exTab1 .nav-tabs > li > a {
  border-radius: 4px 4px 0 0;
}
</style>



<h1>
        {{ department.name }} 
</h1>


<h4>Classification: {{ department.get_classification_display }}</h4>

<a  class="btn btn-primary" href="{% url 'persons:dept-edit' department.pk %}">Update department details</a>

<h3>
    {{ department.person_set.count }} people in database affiliated with {{ department.name }}
</h3>

{% with department.person_set.all as person_list %}    
    {% include 'persons/table_persons.html' %}
{% endwith %}

{% endblock %}




